.logging-panel {
    min-height:75vh;
    height:auto;
    margin: auto;
}
.form{
    position: relative;
}

.login-error-string {
    position: absolute;
    top: 100%; 
    left: 50%;
    width: 200%; 
    transform: translateX(-50%); 
}