body, html {
    overflow-x: hidden; /* To powinno zablokować przewijanie w poziomie */
}

footer {
    box-shadow: 0px -6px 8px 0 rgba(22, 22, 26, 0.38);
}

/* offer section */

#offer {
    scroll-margin-top: 86px;
    box-shadow: 0px 6px 8px 0 rgba(22, 22, 26, 0.18);

}
/* contact section */

#contact {
    scroll-margin-top: 86px;
    box-shadow: 0px -6px 8px 0 rgba(22, 22, 26, 0.18);

}

/* dropdown menu */
 @media (max-width: 991.98px) {
    .dropdown-menu {
        left: 0 !important;
        right: 0 !important;
        text-align: center;
    }
}

/* background header image */
.bg-image{
    margin-top:86.59px;
    background-image: url('../img/bg.png'); 
}
@media (min-width: 991.99px) {
    .bg-image {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-shadow:  0px 6px 8px 0 rgba(22, 22, 26, 0.18);
        height: 100vh;
        
    }
}

@media (max-width: 991.98px) {
    .bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        animation: scrollBackground 10s linear infinite alternate;
        height: 100vh;
    }

    @keyframes scrollBackground {
        0% {
            background-position: left;
        }

        100% {
            background-position: right;
        }
    }
}
/* carousel */

@media (min-width: 768px) {
    .carousel-inner {
        overflow-x: scroll;
        scroll-behavior: smooth;
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.3333%;
        display: block;
    }
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 .5em;
    box-shadow: 0px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: auto;
}

/* footer */
