/* Fonts and Text Styles */

.break {
    display: inline;
}

@media (max-width: 360px) {
    .break {
        display: block;
    }
}

/* Body and HTML */
body,
html {
    overflow-x: hidden;
}

.welcome-content {
    min-height:60vh;
    height:auto;
    margin: auto;
}

.welcome-content-page{
    opacity:1;
    transition: opacity 0.25s ease-in-out;
}
.welcome-content-page.hide{
    opacity:0.001;
}

.about-content {
    z-index: -1;
    margin: auto;
    width: auto;
    position: absolute;
    height: auto;
    opacity: 0.001;
    font-size: auto;
    transition: opacity 0.25s ease-in-out;

}
.about-content.show {
    z-index: 1;
    opacity: 1;
}

.face-img {
    width: 100%;
    height: auto;
}

.welcome-content h1,
.welcome-content h2 {
    padding: 0;
}

.welcome-slide {
    min-height: 100vh;
}

@media (max-width: 426px){
    .about-content p{
        font-size: 0.75rem;
    }
}
@media (min-width: 0px) and (max-width: 390px) {
    .welcome-slide-text h2 {
        font-size: 1.6rem;
    }

    .welcome-slide-text h1 {
        font-size: 1.7rem;
    }

}

@media (min-width: 390.1px) and (max-width: 1199.98px) {
    .welcome-slide-text h2 {
        font-size: 1.8rem;
    }

    .welcome-slide-text h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1199.99px) {
    .welcome-slide-text h2 {
        font-size: 2.5rem;
    }

    .welcome-slide-text h1 {
        font-size: 3.5rem;
    }

}

/* Offer Section */
#offer {
    box-shadow: 0px 4px 20px 0 rgba(22, 22, 26, 1);
    background-color: #28375e;
    border-radius: 5%;
}


/* Contact Section */
#contact {
    scroll-margin-top: 70px;
    box-shadow: 0px -6px 8px 0 rgba(22, 22, 26, 0.18);
    position: relative;
    overflow: hidden;
    /* Hides excess background */
    height: 100vh;
    /* Set container height */
}

#contact .bg-image {
    background-image: url('../img/bg-3.png');
    background-repeat: repeat-x;
    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    animation: slideBackground 20s linear infinite;
}

@keyframes slideBackground {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Form */
.form-style {
    height: 100%;
    position: relative;
}

.form {
    max-width: 600px;
    width: 100%;
    padding: 1em;
}

@media (max-width: 767.98px) {
    .form {
        padding: 1em;
    }
}

@media (min-width: 768px) {
    .form {
        padding: 2em 3em;
    }
}

/* Carousel */


/* Desktop Carousel */
@media (min-width: 768px) {
    .carousel-inner {
        overflow-x: scroll;
        scroll-behavior: smooth;
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 100%;
        display: block;
    }
}

.carousel-inner {
    overflow: hidden;
    padding: 1em;
}

/* Carousel Card Styles */
.card {
    margin: 0 .5em;
    border: none;
}

.card-body {
    box-shadow: 0px -6px 8px 0 rgba(22, 22, 26, 0.38)
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
    background-color: rgb(28, 49, 81);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: auto;
}