Options -Indexes

#Przekierowanie na WWW
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^rysunkinaprezent.com [nc]
RewriteRule ^(.*)$ http://www.rysunkinaprezent.com/$1 [r=301,nc]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/index\.php [NC]
RewriteRule ^index\.php$ / [R=301]

RewriteRule zamowienia orders.php
RewriteRule galeria gallery.php
RewriteRule zwierzeta animalgallery.php 
RewriteRule samochody cargallery.php 
RewriteRule karykaturki caricaturegallery.php 


